.app.dark {
  background-color: #222;
  color: rgb(156, 156, 156);

  .chartGrid {
    stroke: rgba(228, 228, 228, 0.219);
  }

  .table {
    background-color: #222;

    .tablecell {
      color: gray;
    }
  }

  .navbar {
    color: #999;
    border-color: #333;

    .search {
      border-color: gray;

      input {
        color: gray;

        &:focus {
          outline: none;
          box-shadow: none;
        }
      }
    }
  }

  .sidebar {
    background-color: #222;
    border-color: #333;

    .top {
      .logo {
        color: #999;
      }
    }
    hr {
      border-color: #333;
    }

    ul {
      li {
        &:hover {
          background-color: #333;
        }

        .icons {
          color: #999;
        }
      }
    }
  }

  .datatable {
    .dataGrid {
      color: gray;
      border: none;

      .viewButton,
      .deleteButton,
      .cellWithStatus {
        color: gray;
        border: none;
      }
    }
  }

  .new {
    .right {
      input {
        background-color: transparent;

        &:focus {
          box-shadow: 0 0 0 2px lightgray !important;
        }
      }
    }
  }
}
